@import url('font-awesome/css/all.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #212529;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #d7d7d7;
    background-color: #212529;
    border-style: solid;
    border-width: 2px;
    border-color: #444b57;
    box-shadow: none !important;
}

    .btn-primary:hover {
        color: darkorange;
        border-color: darkorange;
        background-color: #212529;
    }

    .btn-primary:active {
        color: darkorange;
        background-color: #212529;
        border-color: darkorange;
    }

    .btn-primary:focus {
        color: darkorange;
        background-color: #212529;
        border-color: darkorange;
    }

    .btn-primary:disabled {
        color: rebeccapurple;
        background-color: #212529;
        border-color: rebeccapurple;
        opacity: 1;
    }

.btn-secondary {
    color: #d7d7d7;
    background-color: #343a40;
    border-style: solid;
    border-width: 2px;
    border-color: #444b57;
    box-shadow: none !important;
}

    .btn-secondary:hover {
        color: darkorange;
        border-color: darkorange;
        background-color: #343a40;
    }

    .btn-secondary:active {
        color: darkorange;
        background-color: #343a40;
        border-color: darkorange;
    }

    .btn-secondary:focus {
        color: darkorange;
        background-color: #343a40;
        border-color: darkorange;
    }

.form-control, .form-select {
    color: #d7d7d7;
    background-color: #343a40;
    border-style: solid;
    border-width: 2px;
    border-color: #444b57;
    box-shadow: none !important;
    transition: none;
}

    .form-control:hover, .form-select:hover {
        color: #d7d7d7;
        border-color: darkorange;
        background-color: #343a40;
    }

    .form-control:active, .form-select:active {
        color: #d7d7d7;
        border-color: darkorange;
        background-color: #343a40;
    }

    .form-control:focus, .form-select:focus {
        color: #d7d7d7;
        border-color: darkorange;
        background-color: #343a40;
    }

.card {
    color: #d7d7d7;
    background-color: #343a40;
    border-style: solid;
    border-width: 2px;
    border-color: #444b57;
    box-shadow: none !important;
    transition: none;
}

.badge-none {
    filter: opacity(70%) brightness(50%) contrast(120%) !important;
}

.badge-on {
    filter: contrast(140%) !important;
}



.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color: white;
    background-color: gray;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    color: white;
    background-color: gray;
    padding: 1rem 1rem 1rem 3.7rem;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

    .ripple:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .2s, opacity 1s;
    }

    .ripple:active:after {
        transform: scale(0, 0);
        opacity: .3;
        transition: 0s;
    }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
    -webkit-text-fill-color: #d7d7d7 !important;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

img {
    -webkit-user-drag: none;
}