/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-v1g2cdbao8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v1g2cdbao8] {
    flex: 1;
}

.sidebar[b-v1g2cdbao8] {
    background-color: #343a40;
}

@media (min-width: 576px) {
    .page[b-v1g2cdbao8] {
        flex-direction: row;
    }

    .sidebar[b-v1g2cdbao8] {
        width: 250px;
        height: 100vh;
        min-height: 430px;
        position: sticky;
        top: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ahqtp35mrs] {
    background-color: rgba(255, 255, 255, 0.00);
}

.navbar-brand[b-ahqtp35mrs] {
    font-size: 1.5rem;
    color: darkorange;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.nav[b-ahqtp35mrs] {
    padding-top: 1.0rem;
}

.nav-item[b-ahqtp35mrs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    width: 10rem;
}

    .nav-item[b-ahqtp35mrs]  span {
        margin-right: 0.5em;
    }

    .nav-item[b-ahqtp35mrs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-ahqtp35mrs]  a.active {
            background-color: #212529;
            color: darkorange;
        }

        .nav-item[b-ahqtp35mrs]  a:hover {
            background-color: #212529;
            color: darkorange;
        }

@media (min-width: 576px) {
    .navbar-toggler[b-ahqtp35mrs] {
        display: none;
    }

    .collapse[b-ahqtp35mrs] {
        display: block;
    }
}
