@page "/Badges"
@using MYCareerWEB.Code

<h3>Badges</h3>
<hr/>

<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-1">
    @for(int i = 0; i < 16; i++)
    {
        <div class="col">
            <div class="card">
                <div class="card-header align-self-center">
                    BadgeName
                </div>
                <img src="img/Acrobat2.png" class="card-img-top badge-none">
                <div class="card-body align-self-center">
                    <button type="button" class="btn btn-primary">Upgrade</button>
                </div>
            </div>
        </div>
    }

</div>

@code {

}
