@page "/"
@using IndexedDB.Blazor
@using MYCareerWEB.Code;
@using MYCareerWEB.Code.PlayerData
@inject IIndexedDbFactory DbFactory

<PageTitle>Index</PageTitle>

@if(AppData.CurrentPlayer != null)
{
    <h3>Current Player: @AppData.CurrentPlayer.FirstName @AppData.CurrentPlayer.LastName</h3>
    <hr/>
}
else
{
    <h3>No Player Selected</h3>
    <hr/>
}

<button type="button" class="btn btn-secondary ripple" @onclick="() => DeleteDB()">Delete DB</button>

@code{

    private async Task DeleteDB()
    {
        using (var db = await DbFactory.Create<AppDB>())
        {
            db.Player.Clear();
            await db.SaveChanges();
        }

    }


}
