@page "/"
@using MYCareerWEB.Code

<PageTitle>Index</PageTitle>

@if(AppData.CurrentPlayer != null)
{
    <h3>Current Player: @AppData.CurrentPlayer.FirstName @AppData.CurrentPlayer.LastName</h3>
    <hr/>
}
else
{
    <h3>No Player Selected</h3>
    <hr/>
}
