input#floatingInput.form-control {
    color: #d7d7d7;
    background-color: #343a40;
    border-width: 0;
}

select.form-select {
    color: #d7d7d7;
    background-color: #343a40;
    border-width: 0;
}

label.list-group-item {
    color: #d7d7d7;
    background-color: #343a40;
    border-width: 0;
}

*.btn-secondary {
    color: #d7d7d7;
    background-color: #343a40;
    border-color: #343a40;
    border-width: 2px;
    
}

*.btn-secondary:hover {
    color: darkorange;
    background-color: #343a40;
    border-color: darkorange;
    border-width: 2px;
}

*.btn-check:checked + .btn {
    color: darkorange;
    background-color: #343a40;
    border-color: darkorange;
    border-width: 2px;
}

*.btn-check:focus + .btn {
    background-color: #343a40;
    outline: none;
    box-shadow: none;
    border-width: 2px;
}
