@page "/Players"

<h3>Players</h3>


<form>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                    <label style="color: #d7d7d7" for="floatingInput">Fist Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                    <label style="color: #d7d7d7" for="floatingPassword">Nickname</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder=" ">
                    <label style="color: #d7d7d7" for="floatingPassword">Last Name</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-select">
                        <option selected>Position</option>
                        <option value="1">Point Guard</option>
                        <option value="2">Shooting Guard</option>
                        <option value="3">Small Forward</option>
                        <option value="3">Power Forward</option>
                        <option value="3">Center</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">   
                        <h5 style="width: 100%;" class="text-center">Positive Traits</h5>
                        <div style="width: 100%;" class="btn-group-vertical">
                            <input type="checkbox" class="btn-check shadow-none flex-grow-1" id="btncheck1p" autocomplete="off">
                            <label class="btn btn-secondary" for="btncheck1p">Athletic</label>

                            <input type="checkbox" class="btn-check shadow-none" id="btncheck2p" autocomplete="off">
                            <label class="btn btn-secondary" for="btncheck2p">Talented</label>

                            <input type="checkbox" class="btn-check shadow-none" id="btncheck3p" autocomplete="off">
                            <label class="btn btn-secondary" for="btncheck3p">Fast Learner</label>
                        </div>
                    </div>
                    <div class="col-md-6">    
                        <h5 style="width: 100%;" class="text-center">Negative Traits</h5>
                        <div style="width: 100%;" class="btn-group-vertical"> 
                            <input type="checkbox" class="btn-check" id="btncheck1n" autocomplete="off">
                            <label class="btn btn-secondary shadow-none" for="btncheck1n">Sluggish</label>

                            <input type="checkbox" class="btn-check" id="btncheck2n" autocomplete="off">
                            <label class="btn btn-secondary shadow-none" for="btncheck2n">Clumsy</label>

                            <input type="checkbox" class="btn-check" id="btncheck3n" autocomplete="off">
                            <label class="btn btn-secondary shadow-none" for="btncheck3n">Slow Learner</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">Create</button>
</form>

@code {

}
