.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #343a40;
}

@media (min-width: 576px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        min-height: max-content;
        position: sticky;
        top: 0;
        overflow: auto;
    }
}
