<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MYCareerWEB</a>
        <button title="Navigation menu" class="navbar-toggler shadow-none" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-row nav-fill">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Profiles">
                <span style="padding: 0.5em" class="fas fa-user fa-xl"></span> Profiles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Stats">
                <span style="padding: 0.5em" class="fas fa-chart-bar fa-xl"></span> Stats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Matches">
                <span style="padding: 0.5em" class="fas fa-basketball fa-xl"></span> Matches
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Attributes">
                <span style="padding: 0.5em" class="fas fa-chart-pie fa-xl"></span> Attributes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Badges">
                <span style="padding: 0.5em" class="fas fa-shield fa-xl"></span> Badges
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HotZones">
                <span style="padding: 0.5em" class="fas fa-fire fa-xl"></span> Hot Zones
            </NavLink>
        </div>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
