.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.00);
}

.navbar-brand {
    font-size: 1.5rem;
    color: darkorange;
}

.nav {
    padding-top: 1.0rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    width: 10rem;
}

    .nav-item ::deep span {
        margin-right: 0.5em;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: #212529;
            color: darkorange;
        }

        .nav-item ::deep a:hover {
            background-color: #212529;
            color: darkorange;
        }

@media (min-width: 576px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}
