@using MYCareerWEB.Code

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="">MYCareerWEB</a>
        <button title="Navigation menu" class="navbar-toggler shadow-none" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (AppData.CurrentPlayer != null)
        {
            <label class="">
                @AppData.CurrentPlayer.FirstName "@AppData.CurrentPlayer.NickName" @AppData.CurrentPlayer.LastName
            </label>
        }
    </div>


</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-row nav-fill">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Players">
                <span class="fas fa-user fa-xl"></span>
                <label class="text-nowrap">Players</label>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NewMatch">
                <span class="fas fa-basketball fa-xl"></span>
                <label class="text-nowrap">New Match</label>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Attributes">
                <span class="fas fa-chart-pie fa-xl"></span>
                <label class="text-nowrap">Attributes</label>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Badges">
                <span class="fas fa-shield fa-xl"></span>
                <label class="text-nowrap">Badges</label>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HotZones">
                <span class="fas fa-fire fa-xl"></span>
                <label class="text-nowrap">Hot Zones</label>
            </NavLink>
        </div>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        AppData.RefreshService.RefreshRequested += RefreshMe;
        base.OnInitialized();
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
